body{
    background: rgb(42, 54, 60)
}
#gameBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 50px #262626;
    overflow: hidden;
    border-radius: 10px;
}